/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-green-dark: #5ba675;
  /* --vt-c-green-light: #6abe30; */
  --vt-c-green-light: #abdd64;
  --vt-c-red: #cc425e;
  
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-green-dark);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-green-dark);
  --color-text: var(--vt-c-black-soft);
  --color-hover: var(--vt-c-green-light);

  --color-accent: var(--vt-c-red);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  animation: color-animation 8s linear infinite;
  /* transition: all 0.4s ease-in-out; */
}

.word-1 {
  --color-1: var(--color-heading);
  --color-2: var(--color-accent);
  --color-3: var(--vt-c-black-soft);
}

.word-2 {
  --color-1: var(--color-accent);
  --color-2: var(--vt-c-black-soft);
  --color-3: var(--color-heading);
}

.word-3 {
  --color-1: var(--vt-c-black-soft);
  --color-2: var(--color-heading);
  --color-3: var(--color-accent);
}

.word-4 {
  --color-1: var(--color-heading);
  --color-2: var(--color-accent);
  --color-3: var(--vt-c-black-soft);
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  10%    {color: var(--color-1)}
  20%    {color: var(--color-1)}
  30%   {color: var(--color-2)}
  40%   {color: var(--color-2)}
  50%   {color: var(--color-2)}
  60%   {color: var(--color-3)}
  70%   {color: var(--color-3)}
  80%   {color: var(--color-3)}
  90%   {color: var(--color-3)}
  100%   {color: var(--color-1)}
}
